.searchcontainer{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchinput{

}
.results{
  min-height: 150px;
  width: 600px;
}
.result{
  border: 1px solid black;
  display: flex;
}

.left{

}

.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
}

.cover{

}

.edit{

}

.content{

}
